h1{
    font-family: 'Twinkle Star', cursive;
    color: white;
    text-align: center;
    font-size: 48pt;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}
body{
    background-image: linear-gradient(90deg,pink, orange);
    text-align: center;
    
}

input{
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
    height: 50px;
    width: 300px;
    text-align: center;
    border-radius: 15px;
 
    
}

input:hover{
    background-color: lightskyblue;
    font-weight: bold;
    
}

button{
    height: 50px;
    width: 300px;
}




